h1 {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%
}

.content_area {
    display: flex;
    flex-direction: column;
}
.input_content_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.input_area {
    display: flex;
    flex-direction: row;
    height: 44px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.input_content_area button {
    margin-top: 25px;
    width: 200px;
    height: 44px;
    color: white;
    background-color: #20222a
}

.input_area input {
    margin-left: 25px;
}