extends layout/base


block link_block
    link(rel="stylesheet", href="stylesheets/daily_work.css")

block body_block 
    div.create_toast(id="create_toast")
        div.task_info_container
            p.pointer(onclick="hidden_toast()") X
            h2 NEW TASK
            textarea.task_name_input(type="text" id="task_name" placeholder="Task name")
            input(id="task_date" readonly placeholder="Task Date")
            button(onclick="submit_task_data()") submit
    
    div.create_toast(id="create_toast_assign")
        div.task_info_container
            p.pointer(onclick="hidden_toast_assign()") X
            h2.assign_title ASSIGN
            h6(id="driver_date") AVAILABLE DRIVER ON 
            select(id="selct_box")
            button(onclick="submit_task_data_assign()") submit
            

block content_block
    .back_container
        .top_line
            .noting
                .line_shu
                p TASK LIST
            .operator_button
                input.filter_name(placeholder="FILTER BY NAME" id="filter_tag") 
                img(src="images/search.png", alt="", srcset="" style="width:24px;height:24px;margin-left: -35px;cursor: pointer" onclick="filter_task()")
                input.calendar(id="page_calendar" readonly placeholder="CALENDAR")
                if is_client_account
                    button(onclick="add_task_act()") ADD NEW
        

        div.form_container
            div.form(id="task_form")
                div.line.title_line(id="line0")
                    p No
                    p Tasks
                    p DRIVER
                    p Status
                    p Start time
                    p Finish time
                    p Spent hour
                    p(stype="") Delete
                .line_little
            .pages(id="pages")

    


    


block script_block
    script(src="javascripts/layer/layer.js" type="text/javascript")
    script(src="javascripts/laydate/laydate.js" type="text/javascript")
    script(src="javascripts/daily_work.js" type="text/javascript")