extends layout/base


block link_block
    link(rel="stylesheet", href="stylesheets/driver_viewmore.css")


block content_block
    .all_container
        .top_div
            .top_left_div
                .line_view_shu
                p(id="driver_title")

            .top_right_div
                button CREAT A DRIVE ACCOUNT
        div.form_container
            .form_div(id="form")

    


block script_block
    script(src="javascripts/driver_viewmore.js" type="text/javascript")