extends layout/base


block link_block
    link(rel="stylesheet", href="stylesheets/leave_record.css")




block content_block
    .all_container
        .top_div
            .top_left_div
                .line_view_shu
                p PENDING APPROVAL

            .top_right_div
                button CREAT A DRIVE ACCOUNT

        .form_div(id="form")

block script_block
    script(src="javascripts/leave_record.js" type="text/javascript")